// @import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

html {
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
  font-size: 10px;
}

body {
  font-size: 1.2rem;
}

.a11y_hidden {
  display: none;
}